/*Cambiamos la primera letra de todos los h1*/
h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
/*Cambiamos el primer parrafo de los p*/
p::first-line{
    background-color: hsl(113, 53%, 79%);
}
/*Con selection podemos cambiar como reacciona nuestro texto al seleccionarlo*/
p::selection{
    color: rgb(40, 240, 14);
    background-color: rgb(0, 0, 0);
}
/*Antes*/ 
#fruta li::before{
    content: "✔";
    color: hsl(135, 100%, 50%);
}
/*Despues*/
#manzana::after{
    content: "🍎";
}
#naranja::after{
    content: "🍊";
}
#banano::after{
    content: "🍌";
}
/*Con Market cambianos el punto por un flobo*/
#fruta li::marker{
    content: "🎈";
    font-size: 1.2em ;
}
