*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
header{
    background-color: hsl(0, 0%, 50%);
    text-align: center;
    padding: 25px;
    border: 2px solid;
}
.navbar{
    background-color: lightblue;
    height: 50px;
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;

}
article{
    width: 40%;
    float: left;
    padding: 10px;

}
footer{
    display: block; /* para limpiar el float de los anteriores*/
    clear: both; /* para limpiar el float de los anteriores*/
    background-color: hsl(0, 0%, 50%);
    text-align: center;
    padding: 25px;
    border: 2px solid;
}
/*responsive para telefono para las seccion aside, section article*/
@media screen and (max-width:600px) {
    aside, section, article{
        width: 100%;
    }
}
