.gallery{
    display: inline-block;
    border: 1px solid gray;
    margin: 5px;
    width: 200px;
}
.gallery .description{
    padding: 10px;    
    text-align: center;
}
.gallery:hover{
    border: 1px solid hsl(138, 62%, 55%);
}
.gallery img{
    width: 100%;
    height: auto; /*Esta funcion aunque no la pongamos siempre esta por defento en automatico*/
}